{%extends 'layouts/base.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  
  {% block title %}
  <title>SAR|Regulatory</title>
  {% endblock title%} 

  {% block data_table_style %}

  <link href="{% static 'assets/simple-datatables/style.css'%}" rel="stylesheet">
  {% endblock data_table_style %}

</head>

<body>

{%block nav_header%}

  <style>

  header#header{
    background: #0d1822!important;
  }
    
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  .footer-area-bottom{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
  </style>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
        <h1><a href="{%url 'sar_home'%}"><span style="font-size:1.6rem!important"><img src="{% static 'assets/img/logo/sar_logo.svg'%}" style="width:8%!important;vertical-align: baseline;"><span style="color:#fff">Sovereign&nbsp;<span>Africa Ratings</span></a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{%url 'sar_home'%}">Home</a></li>    
          <li><a class="nav-link scrollto active" href="#radiointerviews">Radio Interviews</a></li>    
          <li><a class="nav-link scrollto" href="#tvinterviews">TV Interviews</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  {%endblock nav_header%}


{%block landing_section%}
{%endblock landing_section%}
{%block main_section%}

<main id="main" style="margin-top:16px" class="col-12">

  <div class="our-team-area area-padding col-12">
    <div class="container">

      <h5><a href="{%url 'publicCommentaryArticleList'%}">
            <i class="bi bi-chevron-left fw-bold" style="color:#dc3545"></i>
        </a>
      </h5

      <div class="row">
        
        
        <div class="col-lg-12">

          <h5>Document Title: {{regulatory_article}}</h5>

          <h6>Publishing Date: {{regulatory_article.publication_date|date:"d-m-Y"}}</h6>
          <h6>Response Deadline: {{regulatory_article.submission_deadline|date:"d-m-Y"}}</h6>

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Overview</h5>
              <p class="card-text">{{regulatory_article.overview}}</p>

              
              <br>

            

              <p class="card-text"><a href="{{regulatory_article.file_link}}" target="_blank">Open Document</a></p>
              
              {%if regulatory_article.is_submission_overdue%}
              <p class="card-text">Commentary Submission Overdue</p>
              {%else%}
              <p class="card-text"><a href="{%url 'commentCommentaryArticle' regulatory_article.unique_id%}">Submit Comments</a></p>
              
              {%endif%}
            </div>

          </div>

        

        </div>
      </div>
      <!-- End row -->
    </div>

  </main><!-- End #main -->

{% endblock main_section%}
  
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
{%block footer_main%}

{%endblock footer_main%}
</body>

</html>