{% extends 'layouts/base.html'%}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>


  <style>

  .single-well ul li{
    display: flex!important;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    }

    #sar_profile{
      color:#3ec1d5;
      font-weight: bold;
      cursor:pointer;
      margin-bottom:0px!important;

    }
    .modal-dialog {
      margin-top: 20%;
    }

  #profile_image{
      height:245px;
      width:390px;
    }

    .single-team-member{
      border:none;
    }

    #sar_title{
      font-weight: bold;
      
    }

    {% comment %} #news,#testimonials,#insights,#research,#social_media_links,#articles{
      display:none;
    } {% endcomment %}
    .team-modal{
      cursor:pointer;
    }

    .footer-head h4 {
      padding-bottom:0px
  }
</style>

  {%block landing_section%}
  <!-- ======= hero Section ======= -->

  {%if messages%}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {%for message in messages%}
    <strong>{{message}}</strong>
    {%endfor%}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {%endif%}

  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

  

        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active" style="background-image: url(static/assets/img/hero-carousel/1.jpg)">
            <div class="carousel-container">
              <div class="container">
                <h2 class="animate__animated animate__fadeInDown">Sovereign Rating Services</h2>
                <p class="animate__animated animate__fadeInUp">Offering objective and scientific sovereign ratings to the world</p>
                <a href="#about" class="btn-get-started scrollto animate__animated animate__fadeInUp">Info</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section><!-- End Hero Section -->

  

  {% endblock landing_section%}

  <main id="main">
  {%block about_section%}
    
    {% endblock about_section%}

 

    {%block team_section%}
  
{% endblock team_section%}

{%block research_section%}
    <!-- ======= Research Section ======= -->
    <div id="research" class="services-area area-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline services-head text-center">
              <h2>Research</h2>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <!-- Start Left services -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    <i class="bi bi-briefcase"></i>
                  </a>
                  <h4>Expert Ratings</h4>
                  <p>
                    We provide...
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    <i class="bi bi-card-checklist"></i>
                  </a>
                  <h4>Research</h4>
                  <p>
                    We provide...
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    <i class="bi bi-bar-chart"></i>
                  </a>
                  <h4>Insights</h4>
                  <p>
                    We provide...
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          
          <!-- End Left services -->

          
          
              <!-- end about-details -->
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Services Section -->
{% endblock research_section%}
    
<br><br><br><br>    


{%block insights_section%}
    <!-- ======= Insights Section ======= -->
    <div id="insights" class="pricing-area area-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>Insights</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="pri_table_list">
              <h3>Economy <br /> <span>.</span></h3>
              <ol>
                <li class="check"><i class="bi bi-check"></i><span>Economy</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Economy</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Economy</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Economy</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Economy</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Economy</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Economy</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Economy</span></li>
                
              </ol>
              <button>Subscribe</button>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="pri_table_list">
          
              <h3>Trade Insights <br /><span>.</span></h3>
              <ol>
                <li class="check"><i class="bi bi-check"></i><span>Trade</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Trade</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Trade</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Trade</span></li>
                <li class="cross"><i class="bi bi-x"></i><span>Trade</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Trade</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Trade</span></li>
                <li class="cross"><i class="bi bi-x"></i><span>Trade</span></li>
              </ol>
              <button>Subscribe</button>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="pri_table_list">
              <h3>Capital Markets <br /><span>.</span></h3>
              <ol>
                
                <li class="check"><i class="bi bi-check"></i><span>Markets</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Markets</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Markets</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Markets</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Markets</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Markets</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Markets</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Markets</span></li>
              </ol>
              <button>Subscribe</button>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Pricing Section -->

    {% endblock insights_section%}

    {%block quotes_section%}
    <!-- ======= Quotes Section ======= -->
    <div id="testimonials" class="testimonials">
      <div class="container">

        <div class="testimonials-slider swiper">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/team/sf_image.png'%}" class="testimonial-img" alt="">
                <h3>Dr Sifiso Falala</h3>
                <h4>CEO &amp; Founder</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Applying a scientific approach to ratings is the key..
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/team/sf_image.png'%}" class="testimonial-img" alt="">
                
                <h3>Person...</h3>
                <h4>Economist</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Innovative approach to...
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                
                <img src="{% static 'assets/img/team/sf_image.png'%}" class="testimonial-img" alt="">
                <h3>Person 3</h3>
                <h4>Trade</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Advancing the African continent...
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/team/sf_image.png'%}" class="testimonial-img" alt="">
                <h3>Person 4</h3>
                <h4>Market Intelligence</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Refined methods are the key...
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/team/sf_image.png'%}" class="testimonial-img" alt="">
                <h3>Person 5</h3>
                <h4>Risk</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  The key factors in determining the...
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </div><!-- End Quotes Section -->

    {%endblock quotes_section%}

    {%block news_section%}
    <!-- ======= Blog Section ======= -->
    <div id="news" class="blog-area">
      <div class="blog-inner area-padding">
        <div class="blog-overly"></div>
        <div class="container ">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="section-headline text-center">
                <h2>Latest News</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Start Left Blog -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="single-blog">
                <div class="single-blog-img">
                  <a href="blog.html">
                    <img src="{% static 'assets/img/blog/news_1.jpeg'%}" alt="">
                  </a>
                </div>
                <div class="blog-meta">
                  <span class="comments-type">
                    <i class="fa fa-comment-o"></i>
                    <a href="#">13 comments</a>
                  </span>
                  <span class="date-type">
                    <i class="fa fa-calendar"></i>2022-04-02 / 09:10:16
                  </span>
                </div>
                <div class="blog-text">
                  <h4>
                    <a href="blog.html">Innovation</a>
                  </h4>
                  <p>
                   The current year started with...
                  </p>
                </div>
                <span>
                  <a href="blog.html" class="ready-btn">Read more</a>
                </span>
              </div>
              <!-- Start single blog -->
            </div>
            <!-- End Left Blog-->
            <!-- Start Left Blog -->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="single-blog">
                <div class="single-blog-img">
                  <a href="blog.html">
                    <img src="{% static 'assets/img/blog/news_2.jpeg'%}" alt="">
                  </a>
                </div>
                <div class="blog-meta">
                  <span class="comments-type">
                    <i class="fa fa-comment-o"></i>
                    <a href="#">130 comments</a>
                  </span>
                  <span class="date-type">
                    <i class="fa fa-calendar"></i>2016-04-01 / 09:10:16
                  </span>
                </div>
                <div class="blog-text">
                  <h4>
                    <a href="blog.html">Infrastructure Invesment</a>
                  </h4>
                  <p>
                    More capital invesment...
                  </p>
                </div>
                <span>
                  <a href="blog.html" class="ready-btn">Read more</a>
                </span>
              </div>
              <!-- Start single blog -->
            </div>
            <!-- End Left Blog-->
            <!-- Start Right Blog-->
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="single-blog">
                <div class="single-blog-img">
                  <a href="blog.html">
                    <img src="{% static 'assets/img/blog/news_1.jpeg'%}" alt="">
                  </a>
                </div>
                <div class="blog-meta">
                  <span class="comments-type">
                    <i class="fa fa-comment-o"></i>
                    <a href="#">10 comments</a>
                  </span>
                  <span class="date-type">
                    <i class="fa fa-calendar"></i>2023-04-05 / 09:10:16
                  </span>
                </div>
                <div class="blog-text">
                  <h4>
                    <a href="blog.html">Political landscape</a>
                  </h4>
                  <p>
                    The current elections..
                  </p>
                </div>
                <span>
                  <a href="blog.html" class="ready-btn">Read more</a>
                </span>
              </div>
            </div>
            <!-- End Right Blog-->
          </div>
        </div>
      </div>
    </div><!-- End News Section -->
  {%endblock news_section%}


    {%block contact_section%}
    
    {%endblock contact_section%}

  </main><!-- End #main -->



</body>

</html>