{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  
  <title>Sovereign Africa Ratings-sovereign and sub-sovereign rating services.</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="keywords" content="sovereign africa ratings, sovereign ratings, african ratings agency, credit ratings">
  <meta name="description" name="sovereign rating services,sovereign and sub-sovereign rating services">
  <meta name="google-site-verification" content="6jxFMHCejRIowEZ8fZ56_htsb8ReWz4oO3x1eG9EmAA" />
  {% block title %}
  <title>SAR</title>
  {% endblock title %}

  <!-- Favicons -->
  <link href="{% static 'assets/img/logo/sar_logo.svg'%}" style="width:10%!important" rel="icon">
  <link href="{% static 'assets/img/logo/sar_logo.svg'%}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/animate.css/animate.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css'%}" rel="stylesheet">
  {% block data_table_style %}
  {% endblock data_table_style %}
  
</head>

<body>


  <style>

    header#header{
      background: #0d1822!important;
    }
      

  .single-well ul li{
    display: flex!important;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    }

    #sar_profile{
      color:#3ec1d5;
      font-weight: bold;
      cursor:pointer;
      margin-bottom:0px!important;

    }
    .modal-dialog {
      margin-top: 20%;
    }

  #profile_image{
      height:245px;
      width:390px;
    }

    .single-team-member{
      border:none;
    }

    #sar_title{
      font-weight: bold;
      
    }

    #news,#testimonials,#insights,#research,#social_media_links,#articles{
      display:none;
    }
    .team-modal{

      cursor:pointer;
    }

    .footer-head h4 {
      padding-bottom:0px
  }

  .navbar .dropdown:hover>ul {
  
    border-radius: 5px!important;
}


.footer-area-bottom{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
}

.footer-area{
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: left;
}



@media (max-width: 767px) {
  .row{
    {% comment %} width: fit-content; {% endcomment %}
    width: auto!important;
  }

  .section-headline h2 {
    font-size: 24px!important;
  }

}


.team-content{

  text-align: center!important;
}

</style>


  {%block nav_header%}
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex justify-content-between">

      <div class="logo">
        <h1><a href="{%url 'sar_home'%}"><span style="font-size:1.6rem!important"><img src="{% static 'assets/img/logo/sar_logo.svg'%}" style="width:8%!important;vertical-align: baseline;"><span style="color:#fff">Sovereign&nbsp;<span>Africa Ratings</span></a></h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{%url 'sar_home'%}">Home</a></li>
          <li class="dropdown"><a href="#"><span>About</span><i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="{%url 'sar_about'%}">About SAR</a></li>
              <li><a href="{%url 'sar_team'%}">Our Team</a></li>
              <li><a href="{%url 'sar_contact'%}">Contact Us</a></li>
            </ul>
          <li class="dropdown"><a href="#"><span>Ratings and Research</span><i class="bi bi-chevron-down"></i></a>
            <ul>
                <li><a href="{%url 'ratingsMethodologies'%}">Rating Methodologies</a></li>
                <li><a  href="{%url 'ratingsPublications'%}">Ratings Publications</a></li>
                <li><a href="" target="_blank">Research</a></li>
                <li><a href="{%url 'nuggets_publication_list'%}">Daily Nuggets</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>Regulatory</span><i class="bi bi-chevron-down"></i></a>
            <ul>
                <li><a href="{% static 'assets/file/ratings/SAR-Ratings-Definitions_2022-07-03.pdf'%}" target="_blank">Rating Definitions</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="{%url 'mediaHomepage'%}">Media</a></li>
          <li><a class="nav-link scrollto" href="{%url 'eventsHomepage'%}">Events</a></li>
          <li><a class="nav-link scrollto" href="">Subscribe</a></li>
         <li><a class="nav-link scrollto" href="{%url 'register'%}">Register</a></li>
          {%if is_user_authenticated %}
          <li class="dropdown"><a href="#"><span>{{get_username}}</span><i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a class="nav-link scrollto" href="{%url 'logout'%}">Logout</a></li>
            </ul>
          </li>
          {%else%}
          <li><a class="nav-link scrollto" href="{%url 'login'%}">Login</a></li>
          {% endif %}
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  {%endblock nav_header%}


  {%block landing_section%}
  <!-- ======= hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active" style="background-image: url(/static/assets/img/hero-carousel/1.jp)">
            <div class="carousel-container">
              <div class="container">
               
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section><!-- End Hero Section -->

  {% endblock landing_section%}

  
  {%block main_section%}
  
  <main id="main">

  {%block about_section%} 
  {%endblock about_section%}

  {%block team_section%}
  {%endblock team_section%}
   
  {%block research_section%}
    <!-- ======= Research Section ======= -->
    <div id="research" class="services-area area-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline services-head text-center">
              <h2>Research</h2>
            </div>
          </div>
        </div>

        <div class="row text-center">
          <!-- Start Left services -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    <i class="bi bi-briefcase"></i>
                  </a>
                  <h4>Expert Ratings</h4>
                  <p>
                    We provide...
                  </p>
                </div>
              </div>
              <!-- end services-details -->
            </div>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    <i class="bi bi-card-checklist"></i>
                  </a>
                  <h4>Research</h4>
                  <p>
                    We provide...
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    <i class="bi bi-bar-chart"></i>
                  </a>
                  <h4>Insights</h4>
                  <p>
                    We provide...
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          
          <!-- End Left services -->

          
          
              <!-- end about-details -->
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Services Section -->

    {%endblock research_section%}
    
    <br><br><br><br>
      
    {%block insights_section%}
    {%endblock insights_section%}

    {%block quotes_section%}
    <!-- ======= Quotes Section ======= -->
    <div id="testimonials" class="testimonials">
      <div class="container">

        <div class="testimonials-slider swiper">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/team/sf_image.png'%}" class="testimonial-img" alt="">
                <h3>Dr Sifiso Falala</h3>
                <h4>CEO &amp; Founder</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Applying a scientific approach to ratings is the key..
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/team/sf_image.png'%}" class="testimonial-img" alt="">
                
                <h3>Person...</h3>
                <h4>Economist</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Innovative approach to...
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                
                <img src="{% static 'assets/img/team/sf_image.png'%}" class="testimonial-img" alt="">
                <h3>Person 3</h3>
                <h4>Trade</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Advancing the African continent...
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/team/sf_image.png'%}" class="testimonial-img" alt="">
                <h3>Person 4</h3>
                <h4>Market Intelligence</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Refined methods are the key...
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'assets/img/team/sf_image.png'%}" class="testimonial-img" alt="">
                <h3>Person 5</h3>
                <h4>Risk</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  The key factors in determining the...
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </div><!-- End quotes Section -->

    {%endblock quotes_section%}

    {%block news_section%}
    {%endblock news_section%}
    
    {%block contact_section%}
    {%endblock contact_section%}

  </main><!-- End #main -->

  {%endblock main_section%}


  {%block footer_main%}
  <!-- ======= Footer ======= -->
  <footer class="footer">
    <div class="footer-area" id="footer_document_links">
      <div class="container">
        <div class="row">
          <!-- end single footer -->
          <div class="col-md-4">
            <div class="footer-content">
              <div class="footer-head">
                <h4>Documents</h4>
                <div class="flicker-img">
                  <h6><a href="{% static 'assets/file/Sovereign_Africa_Ratings_Certificate_18032022.pdf'%}" target="_blank">SAR Licence</a></h6>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{%endblock footer_main%}

{%block footer%}

<style>

  a.link {
    font-size: 1.25rem;
}

</style>

<div class="footer-area-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="copyright text-center">
              <p>
                <span> &copy;<strong>Sovereign Africa Ratings</strong>
                
                  <div>
                    <a href="https://www.linkedin.com/in/sovereign-africa-ratings-477479250/" class="link" target="_blank" style="color:#0072b1">
                        <i class="fa-brands fa bi-linkedin"></i>
                    </a>
                    <a href="https://youtube.com/@saratings" class="link" target="_blank" style="color:#ff0000;">
                        <i class="fa-brands fa bi-youtube"></i>
                    </a>
                    </div>
                  </span>
              </p>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->
{%endblock footer%}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js'%}"></script>
  <script src="{% static 'assets/js/jquery.min.js'%}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.32/dist/sweetalert2.all.min.js"></script>

{%block data_table_js%}
{%endblock data_table_js%}
</body>

</html>