{%extends 'layouts/base.html'%}
{% load static %}
{% load app_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
 
  {% block title %}
  <title>SAR|Ratings</title>
  {% endblock title %}

</head>

<body>


  <style>

  .section-headline h2::after {
    border: 1px solid #f9fafb!important;

  }

    header#header{
      background: #0d1822!important;
    }

  .single-well ul li{
    display: flex!important;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    }

    #sar_profile{
      color:#3ec1d5;
      font-weight: bold;
      cursor:pointer;
      margin-bottom:0px!important;

    }
    .modal-dialog {
      margin-top: 20%;
    }

  #profile_image{
      height:245px;
      width:390px;
    }

    .single-team-member{
      border:none;
    }

    #sar_title{
      font-weight: bold;
      
    }

    #news,#testimonials,#insights,#research,#social_media_links,#articles{
      display:none;
    }
    .team-modal{

      cursor:pointer;
    }

    .footer-head h4 {
      padding-bottom:0px
  }

  h4.card-title {
    color:#000000!important
  }
  a.card-link{

    color:
  }

  span#footer-text{
    color:#29649a!important;
  }

  .section-headline h2 {
    color: #f9fafb!important;
}


.footer-area-bottom {
  position: inherit!important;

}

  .card-title {
    font-size: 14px!important;
    font-family: "Poppins", sans-serif!important;
  }
  .poll-items{
  display:none;
  }
  

</style>


{%block landing_section%}
{%endblock landing_section%}


{%block quotes_section%}
{%endblock quotes_section%}

{%block main_section%}

<style>

  a#submission-button{
    color:#f9fafb!important;
  }


</style>

  <!-- ======= Main Section ======= -->
<main id="main" style="margin-top:0px" class="col-12">
  
  <div class="row">
    <!-- ======= Subscription Section ======= -->
    <div id="pricing" class="pricing-area area-padding">
      <div class="container">
       
        <div class="row">
          <div class="section-headline text-center mt-2">
            <h2>Options</h2>
          </div>

          {%for subscription in get_subscriptions%}
          <div class="col-md-4 col-sm-4 col-xs-12">
            
            <div class="pri_table_list active">

              <h3>{{subscription.subscription_type|render_subscription_type}}<br />
                {% if subscription.subscription_type != 'unsubscribed'%}
                <span>{{subscription.subscription_fee|render_currency}}</span></h3>
                {%else%}
                <span>&nbsp;</span></h3>
                {%endif%}
                
              <ol>
                <li class="check"><i class="bi bi-check"></i><span>{{subscription.item_1|render_subscription_item|title}}&nbsp;<strong>{{subscription.item_1_fee|render_subscription_item_fee|upper}}</strong></span></li>
                <li class="check"><i class="bi bi-check"></i><span>{{subscription.item_2|render_subscription_item|title}}&nbsp;<strong>{{subscription.item_2_fee|render_subscription_item_fee|upper}}</strong></span></li>
                <li class="check"><i class="bi bi-check"></i><span>{{subscription.item_3|render_subscription_item}}&nbsp;<strong>{{subscription.item_3_fee|render_subscription_item_fee|upper}}</strong></span></li>
                <li class="check"><i class="bi bi-check"></i><span>{{subscription.item_4|render_subscription_item|title}}&nbsp;<strong>{{subscription.item_4_fee|render_subscription_item_fee|upper}}</strong></span></li>
                <li class="check"><i class="bi bi-check"></i><span>{{subscription.item_5|render_subscription_item|title}}&nbsp;<strong>{{subscription.item_5_fee|render_subscription_item_fee|upper}}</strong></span></li>
                <li class="check"><i class="bi bi-check"></i><span>{{subscription.item_6|render_subscription_item|title}}&nbsp;<strong>{{subscription.item_6_fee|render_subscription_item_fee|upper}}</strong></span></li>
                <li class="check"><i class="bi bi-check"></i><span>{{subscription.item_7|render_subscription_item|title}}&nbsp;<strong>{{subscription.item_7_fee|render_subscription_item_fee|upper}}</strong></span></li>
                <li class="check"><i class="bi bi-check"></i><span>{{subscription.item_8|render_subscription_item|title}}&nbsp;<strong>{{subscription.item_8_fee|render_subscription_item_fee|upper}}</strong></span></li>
              </ol>

              {%if subscription.subscription_type == "unsubscribed"%}
              <button type="button" class="btn btn-info"><a href="{%url 'purchase_research'%}" id="submission-button">Purchase Reports</a></button>
              {%elif subscription.subscription_type == "6_month"%}
              <button type="button" class="btn btn-info"><a href="" id="submission-button">Subscribe</a></button>
              {%elif subscription.subscription_type == "annual"%}
              <button type="button" class="btn btn-info"><a href="" id="submission-button">Subscribe</a></button>
              {%endif%}
            </div>
          </div>
          {%endfor%}

         
          
        </div>
      </div>
    </div><!-- End Subscription Section -->

      </div>

    </div>
    <!--End Ratings Publication-->

  </main><!-- End #main -->

  <script src="{% static 'assets/js/jquery.min.js'%}"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.32/dist/sweetalert2.all.min.js"></script>

  <script>

  
    $(document).ready(function(){
      console.log("ready");
      $("#report-search").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $(".col-md-6*").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    
    });

  </script>
  

{%endblock main_section%}


{%block research_section%}
    <!-- ======= Research Section ======= -->
    <div id="research" class="services-area area-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline services-head text-center">
              <h2>Research</h2>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <!-- Start Left services -->
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    <i class="bi bi-briefcase"></i>
                  </a>
                  <h4>Expert Ratings</h4>
                  <p>
                    We provide...
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    <i class="bi bi-card-checklist"></i>
                  </a>
                  <h4>Research</h4>
                  <p>
                    We provide...
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <!-- end col-md-4 -->
            <div class=" about-move">
              <div class="services-details">
                <div class="single-services">
                  <a class="services-icon" href="#">
                    <i class="bi bi-bar-chart"></i>
                  </a>
                  <h4>Insights</h4>
                  <p>
                    We provide...
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          
          <!-- End Left services -->

          
          
              <!-- end about-details -->
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Services Section -->
{% endblock research_section%}
    
<br><br><br><br>    


{%block insights_section%}
    <!-- ======= Insights Section ======= -->
    <div id="insights" class="pricing-area area-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="section-headline text-center">
              <h2>Insights</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="pri_table_list">
              <h3>Economy <br /> <span>.</span></h3>
              <ol>
                <li class="check"><i class="bi bi-check"></i><span>Economy</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Economy</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Economy</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Economy</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Economy</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Economy</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Economy</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Economy</span></li>
                
              </ol>
              <button>Subscribe</button>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="pri_table_list">
          
              <h3>Trade Insights <br /><span>.</span></h3>
              <ol>
                <li class="check"><i class="bi bi-check"></i><span>Trade</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Trade</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Trade</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Trade</span></li>
                <li class="cross"><i class="bi bi-x"></i><span>Trade</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Trade</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Trade</span></li>
                <li class="cross"><i class="bi bi-x"></i><span>Trade</span></li>
              </ol>
              <button>Subscribe</button>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="pri_table_list">
              <h3>Capital Markets <br /><span>.</span></h3>
              <ol>
                
                <li class="check"><i class="bi bi-check"></i><span>Markets</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Markets</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Markets</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Markets</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Markets</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Markets</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Markets</span></li>
                <li class="check"><i class="bi bi-check"></i><span>Markets</span></li>
              </ol>
              <button>Subscribe</button>
            </div>
          </div>
        </div>
      </div>
    </div><!-- End Pricing Section -->

    {% endblock insights_section%}


  {%block footer_main%}
  <style>

    .footer-area-bottom{
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: left;
    }


    @media (max-width: 488px) {

      .footer-area-bottom {
        position: inherit;
    
    }
    
    }
  </style>

  {%endblock footer_main%}




  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>



</body>

</html>